# tasks file for nodejs
---
- name: install dependencies
  apt:
    name: "{{ item }}"
    state: latest
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  with_items: "{{ nodejs_dependencies }}"
  tags:
    - configuration
    - nodejs
    - nodejs-install
    - nodejs-install-dependencies

- name: install additional
  apt:
    name: "{{ item }}"
    state: latest
  with_items: "{{ nodejs_install }}"
  tags:
    - configuration
    - nodejs
    - nodejs-install
    - nodejs-install-additional

- name: add repository and install its signing key
  shell: "curl -sL https://deb.nodesource.com/setup_{{ nodejs_version_map[nodejs_version] }} | bash -"
  args:
    creates: "/etc/apt/sources.list.d/nodesource.list"
  changed_when: false
  tags:
    - configuration
    - nodejs
    - nodejs-install
    - nodejs-install-add-repository

- name: install
  apt:
    name: "{{ 'nodejs' if 'nodejs' in nodejs_version else 'iojs' }}"
    state: latest
  tags:
    - configuration
    - nodejs
    - nodejs-install
    - nodejs-install-install

- name: install node.js packages (globally)
  npm:
    name: "{{ item }}"
    state: latest
    global: true
  with_items: "{{ nodejs_npm_packages }}"
  tags:
    - configuration
    - nodejs
    - nodejs-npm
    - nodejs-npm-install
